*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
}

.container h2 {*:before,

    margin: 26px 0px 0px 209px;
}

.container {
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px;
    border: 1px solid;
}

#newtask {
    position: relative;
    padding: 30px 20px;
}

    #newtask input {
        width: 75%;
        height: 21px;
        font-family: 'Poppins',sans-serif;
        font-size: 15px;
        border: 2px solid red;
        padding: 12px;
        color: #111111;
        font-weight: 500;
        position: relative;
        border-radius: 5px;
    }

        #newtask input:focus {
            outline: none;
            border-color: #ec0d1c;
        }

    #newtask button {
        position: relative;
        float: right;
        width: 20%;
        height: 45px;
        border-radius: 5px;
        font-family: 'Poppins',sans-serif;
        font-weight: 500;
        font-size: 16px;
        background-color: #eb0f1a;
        border: none;
        color: #ffffff;
        cursor: pointer;
        outline: none;
    }

#tasks {
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 93%;
    position: relative;
}

.task {
    background-color: #c5e1e6;
    height: 41px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
}

    .task span {
        font-family: 'Poppins',sans-serif;
        font-size: 15px;
        font-weight: 400;
    }

    .task button {
        background-color: #280aec;
        color: #ffffff;
        height: 95%;
        width: 95px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        outline: none;
    }

.completed {
    text-decoration: line-through;
}